@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Migra";
  src: url("/fonts/MigraExtrabold800.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Tusker";
  src: url("/fonts/TuskerGrotesk-2700Bold.ttf") format("opentype");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: #e9dfce;
  color: black;
}
html {
  scroll-behavior: smooth;
}
.custom-spin {
  animation: slow-spin 15s linear infinite;
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body::-webkit-scrollbar {
  display: none;
}
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  user-select: none;
}

[data-scroll-container] {
  will-change: transform;
}
